/*
Código CSS
*/

* {
  font-family: "Open Sans", sans-serif;
}

#divEdicao {
  background-color: White;
}

#divExecucao {
  background-color: Black;
  color: white;
  font-family: sans-serif;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /*evita que barra de rolagem afete centralizaçao do conteúdo */
}

#divVisor {
  background-color: DimGrey;
  position: absolute;
  top: 5%;
  height: 20%;
  margin-left: 0%;
  width: 100%;
  z-index: 100;
}

#divConteudo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  margin-left: 0%;
  z-index: 101;
  /*-webkit-transition: top 0.5s linear;
  -moz-transition: top 0.5s linear;
  -o-transition: top 0.5s linear;
  -ms-transition: top 0.5s linear;*/
  transition: top 0.5s linear;
}

#inConteudo {
  width: 80%;
}

.w3-green-IF,.w3-hover-green-IF:hover{
	color:#fff!important;
	background-color:#32a041!important
}
.w3-red-IF,.w3-hover-red-IF:hover{
	color:#fff!important;
	background-color:#c8191e!important
}

